
    <nav class="navbar head navbar-expand-lg bg-light p-3 shadow d-flex">
        <div class="container-fluid">
           <a routerLink="" class="navbar-brand" style=" font-family: Yellowtail;"> <img src="../assets/auto-car-logo-template-vector-icon.jpg" alt="" width="60px">&ensp;Cars.com</a>
           <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="text-primary"><i class="fa-solid fa-bars"></i></span>
           </button>
        
           <div class="collapse navbar-collapse text-center ms-5 " id="nav">
            <ul class=" navbar-nav me-auto">
                
                <li class="list-unstyled pe-5 ps-5 mb-3 mt-3 nav-item" routerLink="/explore"> Explore</li>
                <li class="list-unstyled pe-5 ps-5 mb-3 mt-3 nav-item" routerLink="/catagories">Catagories</li>
                <li class="list-unstyled pe-5 ps-5 mb-3 mt-3 nav-item" routerLink="/admin">Admin</li>
            </ul>
            <div>
                <ul class="list-unstyled navbar-nav d-flex flex-row justify-content-center">
                    <li><a href="https://www.instagram.com/iam._.kamal_/?next=%2F"><i class="fa-brands text-dark p-2  pe-3 ps-3 fa-instagram"></i></a></li>
                    <li><a href="https://www.instagram.com/iam._.kamal_/?next=%2F"><i class="fa-brands text-dark p-2  pe-3 ps-3 fa-facebook"></i></a></li>
      
                </ul>
            </div>
           </div>
        </div>
        </nav>


    <router-outlet></router-outlet>