<div class="row justify-content-evenly ps-2 pt-4 mt-3 ms-4">

    <div class="col">
        <div class="menu">
            <i class="fa-solid fa-pen-to-square pb-3 pt-5"></i>
            <p class="h5">Edit Product</p> 
            <p class="p-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ab ipsa nobis, adipisci natus, blanditiis odit praesentium at pariatur unde amet? Repellendus eius repellat deserunt aliquam aut, qui atque labore.</p>
            <button class="btn btn-outline-secondary  text-light" routerLink="/editprod">Edit cars</button>
        </div>
    </div>
    <div class="col">
        <div class="menu">
            <i class="fa-solid fa-trash pb-3 pt-5"></i>
            <p class="h5">Delete Product</p> 
            <p class="p-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ab ipsa nobis, adipisci natus, blanditiis odit praesentium at pariatur unde amet? Repellendus eius repellat deserunt aliquam aut, qui atque labore.</p>
            <button class="btn btn-outline-secondary  text-light" routerLink="/deleteprod">Delete cars</button>
        </div>
    </div>
    <div class="col">
        <div class="menu">
            <i class="fa-solid fa-cart-plus pb-3 pt-5"></i>
            <p class="h5">Add Product</p> 
            <p class="p-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ab ipsa nobis, adipisci natus, blanditiis odit praesentium at pariatur unde amet? Repellendus eius repellat deserunt aliquam aut, qui atque labore.</p>
            <button class="btn btn-outline-secondary text-light" routerLink="/addProduct">Add Cars</button>
        </div>
    </div>

</div>
