<div class="container-fluid pb-5">
    <div class="row pt-3 justify-content-between ">
        <div class="col-8 pt-2 ps-5">
            <img src="../../assets/bmw-f82-dark-side-car-digital-art-4k-3d.jpg" alt="" width="700" height="400">

        </div>

        <div class="col-4  align-self-center justify-self-center pe-5">
            <p class="display-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, voluptates?</p>
        </div>
    </div>

    <div class="row pt-5 text-center">
       <div class="col">
        <h1>   WE HAVE ALL RANGE OF CARS </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores rerum laudantium est non. Blanditiis maiores asperiores totam, sed unde corrupti officia enim aspernatur deleniti eaque quas illum voluptate ducimus saepe?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur sequi minima neque, quidem fugit totam mollitia vitae et sit in delectus rem magnam omnis saepe dolor, voluptatum qui autem earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate incidunt eum provident. Temporibus hic aliquid dolor dolore explicabo illo cum provident pariatur ipsa alias rem, magnam perferendis amet velit ipsum?</p>
        <button class="btn btn-outline-dark" routerLink="/explore">Explore our collections</button>   
    </div>
    </div>
 

   
</div>